.right-bar {
	-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.19);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.19);
	border-radius: 2px;
	margin-left: 10px;
	border: 1px solid #0A0A0A;
	background-color: #0F0F0F;
}

.experiment-banner {
	line-height: 17px;
	height: 96px;
	overflow: hidden;
	font-size: 90%;
	text-align: left;
	background-repeat: no-repeat;
	padding: 10px;
	padding-left: 320px;
	background-color: #0F0F0F;
}

#oc-button .caret {
	border-top: 1px solid silver;
}

#oc-button.btn .btn-info .caret {
	margin-top: 8px;
	margin-left: 3px;
}

.btn-group.open .btn-info.dropdown-toggle {
	background-color: #FF9900;
}